.output pre {
    background-color: white !important;
    color: rgb(80, 80, 80);
    margin-left: 0.1em;
    border-left: 2px solid grey;
    border-radius: 0;
    font-size: 0.95em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.book-btn {
    margin-top: 1.5em;
}
